.icon {
    list-style: none;
    display: flex;
    gap: 30.4%;
    justify-content: end;
    font-size: 33px;
    align-items: center;
    padding: 18px;
    margin: 0;
}

.text-faq {
    text-align: center;
    margin-top: 1.5rem;
}

.turno-nav{
    font-family: "Montserrat", sans-serif;
    color: #8C1B2F;
    font-weight: 500;
    line-height: 1.4;
    box-shadow: 0 5px 10px -6px rgba(7, 0, 0, 0.1);
    font-size: 1.35rem;
}

.img-nav{
    width: 6.3rem;
    height: auto;
    margin-left: 1rem;
}

/* Estilos para el acordeón */
.accordion-button{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #3f3d3d;
    height: 4.7rem;
    border: 1px solid #f3efef;   
}

.accordion-button:not(.collapsed) {
    color: #a12138;
    background-color: transparent;
    box-shadow: none;
}

.accordion-body{
    background-color: #f7f7f7;
    font-family: "Montserrat", sans-serif;
}

.accordion-item {
    border: none; /* Elimina el borde de cada ítem del acordeón */
}