/* Reseteo de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
}

/* WIDGET INSTAGRAM */
.widget-container {
    width: 100%;
    overflow: hidden; /* Controla el desbordamiento */
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho total */
}

.elfsight-app-120e6402-8c89-40bd-9f80-f6eea97ef185 {
    width: 100%;
    max-width: 100%;
}

/* SECCIÓN PRINCIPAL */
.contenedor { /* Imagen principal */
    background-image: url('../img/fondoprincipal.jpeg');
    background-position: center;
    height: 100vh; /* Altura de la ventana del navegador */
}

.imagen-icono { /* Iconos del 'NAV'*/
    width: 3%;
    height: 3%;
} 

.ul-icono {
    list-style: none;
    display: flex;
    gap: 1.5%;
    justify-content: end;
    font-size: 33px;
    padding: 35px;
}

.div-boton { /* Botón 'Sacar turno'*/
    padding-top: 25%;
}

/* SECCIÓN INFORMACIÓN */
.img-info { /* Iconos del 'NAV'*/
    border-radius: 50%;
    position: absolute;
    width: 42%; 
    height: 270px; 
    top: -16%;
    left: 46%;
    z-index: 1;
}

.contenedor-info {
    position: relative;
    height: 200px; /* Ajusta el tamaño según sea necesario */
    background-color: rgb(211, 116, 187);
}

.contenedor-pos{
    position: relative;
}

.card-info {
    width: 74%;
    height: 40%;
    position: absolute;
    z-index: 1;
    left: 14%;
    top: -10%;
    border-radius: 30px!important;
}

.margin {
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 0!important;
}

/* FOOTER */
footer{
    background-color: pink;
    padding-top: 30px;
    padding-bottom: 15px;
}

.padding {
    padding-left: 5.5%!important;
}

.titulo-footer{
    font-size: 25px;
    padding-top: 8px;
}

.ul-footer{
    list-style: none;
    display: flex;
    gap: 2%;
}

.img-footer{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.parrafo-footer{
    font-size: 15px;
    margin-bottom: 3.5%;
}

.listado-footer{
    font-size: 15px;
    margin-bottom: 1.5%;
}

.ul-footer-redes {
    list-style: none;
    display: flex;
    gap: 4%;
    font-size: 28px;
    padding: 0;
    margin-bottom: 0;
}

.ul-info{
    list-style: none;
    padding: 0;
}

/* AJUSTAR ESTILOS DEPENDIENDO DEL ANCHO DE LA PANTALLA, MEDIA QUERIES */