/* Reseteo de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
}

/* WIDGET INSTAGRAM */
.widget-container {
    width: 100%;
    overflow: hidden; /* Controla el desbordamiento */
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho total */
}

.elfsight-app-120e6402-8c89-40bd-9f80-f6eea97ef185 {
    width: 100%;
    max-width: 100%;
}

/* SECCIÓN PRINCIPAL */
.contenedor {
    position: relative;
    height: 100vh; /* Altura de la ventana del navegador */
    overflow: hidden; /* Para asegurarse de que los pseudo-elementos no se desborden */
}

.contenedor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(40%);
}

.ul-icono {
    list-style: none;
    display: flex;
    gap: 30.4%;
    justify-content: end;
    font-size: 33px;
    padding: 35px;
}

.nav{
    position: absolute; /* Mantiene el nav en la parte superior */
    top: 0; /* Asegura que esté en la parte superior */
    right: 0; /* Alinear a la derecha */
    z-index: 3; 
}

a {
    color: #F2EFE9!important;
}

.dropdown {
    color: #212529!important;
}

.contenido-principal {
    display: flex;
    flex-direction: column; /* Alinear en columna */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    height: 100%; /* Ocupa toda la altura de la ventana */
    z-index: 2;
    position: relative;
    margin-top: 3rem;
}

.div-logo {
    display: flex; /* Usar flexbox para centrar */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente, si es necesario */
}

.div-logo img {
    max-width: 100%; /* Asegura que la imagen sea responsiva */
    width: 80%;
    height: auto; /* Cambiado a auto para mantener proporciones */
}

.boton-turnos, .boton-servicios {
    margin: 10px 0; /* Margen vertical entre botones */
    font-size: 30px;
}

.boton-turnos .btn {
    --bs-btn-padding-x: 2.75rem;
    --bs-btn-border-color: #F2EFE9;
}

.imagen-icono { /* Iconos del 'NAV'*/
    width: 3%;
    height: 3%;
} 

/* SECCIÓN INFORMACIÓN */
.img-info { /* Iconos del 'NAV'*/
    border-radius: 50%;
    position: absolute;
    width: 42%; 
    height: 270px; 
    top: -16%;
    left: 46%;
    z-index: 2;
}

.text-servicio {
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    color: #212529;
    font-size: 100%;
}

.titulo-servicio {
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    color: #212529;
    font-size: 150%;
}

.boton-servicio .btn{
    --bs-btn-padding-x: 2.75rem;
    --bs-btn-border-color: #d152c2;
}

.contenedor-info {
    position: relative;
    height: 200px; /* Ajusta el tamaño según sea necesario */
    background-color: rgb(211, 116, 187);
}

.contenedor-pos{
    position: relative;
}

.card-info {
    width: 74%;
    height: 40%;
    position: absolute;
    z-index: 1;
    left: 14%;
    top: -10%;
    border-radius: 30px!important;
}

.margin {
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 0!important;
}

/* FOOTER */
.parrafo-footer{
    font-size: 15px;
    margin-bottom: 3.5%;
}

.listado-footer{
    font-size: 15px;
    margin-bottom: 1.5%;
}

.ul-footer-redes {
    list-style: none;
    display: flex;
    gap: 4%;
    font-size: 28px;
    padding: 0;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5 {
    font-family: "Poppins", Arial, sans-serif; }
  
footer {
    padding: 4rem 0; }
  
.footer-09 {
    background: #c47ab2; /*Fondo*/
   }
  
.footer-09 p {
    color: rgba(255, 255, 255, 0.3); }
  
.footer-09 .footer-heading { 
    color: #fff;
    font-size: 22px;
    margin-bottom: 30px; }
      
.footer-09 .footer-heading .icon {
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    height: 40px;
    display: block;
    color: #fe59d7;
    border: 1px solid #fe59d7; }

/* AJUSTAR ESTILOS DEPENDIENDO DEL ANCHO DE LA PANTALLA, MEDIA QUERIES */

/*¡VENTANA TURNOS!*/
.columnas {
    height: 100vh;
}

.scrollable-list {
    max-height: 100px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;  /* Habilita el scroll vertical */
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    height: 100%;            /* Ocupa todo el alto de la columna */
}

label {
    background-color: #fe59d7;
}