/* Reseteo de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
}

/*MODAL REGISTRO DE SESIÓN E INICIO*/
.modal-header {
    background-color: #a12138; 
    color: #ffffff; 
    justify-content: center;
  }

.modal-title {
    text-align: center; 
    font-family: "Montserrat", sans-serif; 
    font-size: 1.3rem; 
    margin: 0; 
}

.modal-body {
    background-color: transparent; 
  }

.form-label, .form-control {
    background-color: transparent; 
    border: none; 
    color: #333; 
  }

.form-control:focus {
    box-shadow: none; 
    border-color: #F28891;
  }

.boton-sesion .btn{
    --bs-btn-bg: #fff;
    --bs-btn-color: #212529;
    --bs-btn-border-color: #a12138;
}

.boton-sesion .btn:hover {
    color: #ffffff;
    background-color: #a12138;
    border-color: #a12138;
}

.custom-modal-width {
    max-width: 400px; /* Cambia el ancho según tu preferencia */
  }
  
/* WIDGET INSTAGRAM */
.widget-container {
    width: 100%;
    overflow: hidden; /* Controla el desbordamiento */
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten el ancho total */
}

.elfsight-app-120e6402-8c89-40bd-9f80-f6eea97ef185 {
    width: 100%;
    max-width: 100%;
}

#eapps-instagram-feed-1 a.eapps-instagram-feed-header-follow-button {
    background: #a12138!important; 

}

.eapps-instagram-feed-posts-grid-load-more-text {
    background-color: #a12138; /* Cambia esto por el color que desees */
    color: white; /* Cambia el color del texto si es necesario */
}

/* Opcional: estilos al pasar el mouse */
.eapps-instagram-feed-posts-grid-load-more-text:hover {
    background-color: #8C1B2F;
    border-color: #a12138; /* Un color más oscuro para el hover */
}


/* SECCIÓN PRINCIPAL */
.contenedor {
    position: relative;
    height: 100vh; /* Altura de la ventana del navegador */
    overflow: hidden; /* Para asegurarse de que los pseudo-elementos no se desborden */
}

.contenedor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(40%);
}

.ul-icono {
    list-style: none;
    display: flex;
    gap: 30.4%;
    justify-content: end;
    font-size: 33px;
    padding: 35px;
}

.nav{
    position: absolute; /* Mantiene el nav en la parte superior */
    top: 0; /* Asegura que esté en la parte superior */
    right: 0; /* Alinear a la derecha */
    z-index: 3; 
}

.dropdown {
    color: #212529!important;
}

.contenido-principal {
    display: flex;
    flex-direction: column; /* Alinear en columna */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    height: 100%; /* Ocupa toda la altura de la ventana */
    z-index: 2;
    position: relative;
    margin-top: 3rem;
}

.div-logo {
    display: flex; /* Usar flexbox para centrar */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente, si es necesario */
}

.div-logo img {
    max-width: 100%; /* Asegura que la imagen sea responsiva */
    width: 80%;
    height: auto; /* Cambiado a auto para mantener proporciones */
}


.boton-turnos, .boton-servicios {
    margin: 10px 0; /* Margen vertical entre botones */
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

.boton-turnos .btn{
    --bs-btn-padding-x: 2.75rem;
    --bs-btn-border-color: #ffffff;
    --bs-btn-color: #ffffff;
}

.boton-turnos .btn:hover{
    color: #ffffff;
    background-color: #a12138;
    border-color: #a12138;
}

.color-icono{
    color: #ffffff;
}

.color-icono:hover{
    color: #a12138;
}

/* SECCIÓN INFORMACIÓN */
.div-emprendimiento{
    padding: 1rem;
}

.nombre-emprendimiento{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.text-empredimiento{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.text-servicio {
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    color: #212529;
    font-size: 100%;
    margin-bottom: 0;
    margin-top: 1rem;
}

.titulo-servicio {
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    color: #8C1B2F;
    font-size: 150%;
}

.img-servicio{
    max-width: 280px;
    max-height: 345px;
    cursor: pointer;
}

.modal-img-servicio {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.imagen-ampliada {
    margin: auto;
    display: block;
    max-width: 100%; /* Ajusta el máximo ancho */
    max-height: 100%; /* Ajusta la máxima altura */
    transition: transform 0.2s;
}

.boton-servicio .btn{
    --bs-btn-padding-x: 2.25rem;
    --bs-btn-border-color: #8C1B2F;
    --bs-btn-color: black;
}

.boton-servicio .btn:hover{
    color: #F2EFE9;
    background-color: #a12138;
    border-color: #a12138;
}

.mt-sobre-nosotros{
    margin-top: 7rem;
}

.card{
    --bs-card-border-color: #8c1b2f!important;
}

.card-titulo{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.contenedor-info {
    position: relative;
    height: 200px; /* Ajusta el tamaño según sea necesario */
    background-color: #8C1B2F;
}

.contenedor-circulo {
    width: 300px; /* o el tamaño deseado */
    height: 300px; /* debe ser igual a width */
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: -25%;
    left: 46%;
    z-index: 2;
}

.contenedor-circulo img{
    width: 100%; /* o 100% para ajustar */
    height: 100%; /* para mantener el alto y evitar pixelación */
    object-fit: cover; /* recorta la imagen para que encaje bien */
}

.card-info {
    width: 74%;
    height: 40%;
    position: absolute;
    z-index: 1;
    left: 14%;
    top: -10%;
    border-radius: 30px!important;
}

.margin {
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 0!important;
}

/* FOOTER */
.contenedor-logo{
    width: 125px; /* o el tamaño deseado */
    height: 125px; /* debe ser igual a width */
}

.contenedor-logo img{
    width: auto; /* o 100% para ajustar */
    height: 100%; /* para mantener el alto y evitar pixelación */
    object-fit: cover; /* recorta la imagen para que encaje bien */
}

.ul-footer{
    gap: 4%;
}

.ul-item{
    list-style: none;
    display: flex;
}

.color-footer {
    color: #8C1B2F;
}

/* AJUSTAR ESTILOS DEPENDIENDO DEL ANCHO DE LA PANTALLA, MEDIA QUERIES */

/*¡VENTANA TURNOS!*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.contenedor-general{
    padding: 0rem 0; 
}

.container-fluid{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.scrollable-list {
    max-height: 100px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;  /* Habilita el scroll vertical */
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
}

label {
    background-color: #c2b6bf;
    border-radius: 5px;
}

.checkBoxStyle {
    margin-left: 6px;
}

.estiloImgaTrabajador{
    margin-top: 10px;
    margin-left: 10px;
    width: 135%;
    margin-bottom: 10px;
}

.contenedor-calendario{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  margin: 0.5rem;

}

.wrapper{
    width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    width: 100%;
  }

.wrapper .header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

.header .icons{
    display: flex;
  }

.header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

.icons span:last-child{
    margin-right: -10px;
}

.header .icons span:hover{
    background: #f2f2f2;
}

.header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
}

.calendar{
    padding: 20px;
}

.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    padding: 0;
  }

.calendar .days{
    margin-bottom: 20px;
  }

.calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
}
  
.calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  
.calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px; 
}

.days li.inactive{
    color: #aaa;
}
  
.days li.active{
    color: #0c0c0c;
}
  
.days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before{
    background: hwb(0 7% 93% / 0.384);
}
  
.days li:not(.active):hover::before{
    background: #0000003a;
}

/*estilos del evento click  del calendario*/
.days li.seleccionado::before{
    background: #9B59B6;
}
  
.days li:not(.seleccionado):hover::before{
    background: #f2f2f2;
}

.days li.seleccionado{
    color: #000000;
}

.texto-t{
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    color:#A6A6A6
}

/*PREGUNTAS FRECUENTES*/
/* Estilos para el acordeón */
.accordion-button{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #464c5e;
    height: 4.5rem;
}

.accordion-button:not(.collapsed) {
    color: #a12138;
    background-color: transparent;
    box-shadow: none;
}

.accordion-body{
    background-color: #f7f7f7;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.accordion-item {
    border: none; /* Elimina el borde de cada ítem del acordeón */
}

.flecha {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid white;
    margin-right: 5px;
}

.back {
    width: 2.5rem; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción */
    margin: 1rem;
}

.logo {
    width: 5rem; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción */
    margin: 0.5rem;
    right: 0;
    float: right;
}

label{
    background-color: transparent;
}

.estilo-horarios{
    background-color: #F28891;
}

.service-option {
    font-size: 1.3rem;
    font-weight: bold;
    color: #9c3438;
    margin: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
}

#seleccionar-servicios{
    color: #9c3438;
}

.days li.seleccionado::before{
    background: #9c3438;
}

.columnas-laterales {
    border: 1px solid #cfcfcf; /* Cambia el color y grosor según prefieras */
    border-radius: 5px; /* Opcional: redondea las esquinas */
}

#confirmar-turno-btn {
    background-color: #9c3438;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 1000;
    padding: 10px 20px;
    font-size: 16px;
  }
  
/*font: "Open Sans", Helvetica, Arial, sans-serif*/